Load modules

In [1]:
import xlwings as xw
import pandas as pd

Make Workbook

In [2]:
wb = xw.Book()

Change Sheet Name

In [3]:
ws1 = wb.sheets[0]
ws1.name = "s1"

Create New Sheet

In [4]:
ws2 = wb.sheets.add(name="s2", 
                    before=None,
                    after=None)

Delete Sheet

In [5]:
ws3 = wb.sheets.add(name="s3")  # Create sheet
wb.sheets['s3'].delete()   # Delete sheet

Insert Value

In [6]:
ws1.range('A1').value = ["xl", "wings", "Tutorial"]
ws2.range('A1:E3').value = [[1,2,3], [4,5,6]]

In [7]:
ws1.cells(2, 1).value = "My"
ws1.cells(2, "B").value = "Name"

Print Cell

In [8]:
print(ws1.range('A1').expand().value)

[['xl', 'wings', 'Tutorial'], ['My', 'Name', None]]

In [9]:
pd.DataFrame(ws1.range('A1').expand().value)

    0      1         2
0  xl  wings  Tutorial
1  My   Name      None

In [10]:
pd.DataFrame(ws2.range('A1').expand().value)

     0    1    2
0  1.0  2.0  3.0
1  4.0  5.0  6.0

Clear Outputs

In [11]:
ws2.cells.clear_contents()
pd.DataFrame(ws2.range('A1').expand().value)

Empty DataFrame
Columns: []
Index: []

Transpose

In [12]:
ws2.range('A1').options(transpose = True).value = [[1,2,3], [4,5,6]]
pd.DataFrame(ws2.range('A1').expand().value)

     0    1
0  1.0  4.0
1  2.0  5.0
2  3.0  6.0

Save

In [13]:
wb.save('test.xlsx')