In [1]:
import xlwings as xw
import pandas as pd

In [2]:
wb = xw.Book()
ws = wb.sheets[0]
ws.name = "sheet1"
ws.range('A1').options(tanspose = True).value = list(range(5))
ws.range('A2').options(tanspose = True).value = list(range(5, 10))
ws.range('A3').options(tanspose = True).value = list(range(10, 15))
# pd.DataFrame(ws.range('A1').expand().value)

      0     1     2     3     4
0   0.0   1.0   2.0   3.0   4.0
1   5.0   6.0   7.0   8.0   9.0
2  10.0  11.0  12.0  13.0  14.0

Formula

In [3]:
ws.range('A4:E4').formula = "=sum(A1:A3)"
# pd.DataFrame(ws.range('A1').expand().value)

      0     1     2     3     4
0   0.0   1.0   2.0   3.0   4.0
1   5.0   6.0   7.0   8.0   9.0
2  10.0  11.0  12.0  13.0  14.0
3  15.0  18.0  21.0  24.0  27.0

In [4]:
ws.range('G1:I5').formula_array = "=Transpose(A1:E4)"

Insert Row, Column

In [5]:
ws.range('1:1').insert()   # 행삽입
ws.range('A:A').insert()   # 열삽입

Delete Row, Column

In [6]:
ws.range('A:A').delete()

Font

In [7]:
ws.range("A1").value = "xlwings 연습"
# 굵게
ws.range("A1").api.font.Bold = True 
# 글자크기
ws.range("A1").api.font.size = 12
# 가운데 정렬
ws.range("A1").api.HorizontalAlignment = xw.constants.HAlign.xlHAlignCenter
# 글자색
ws.range("A1").api.font.ColorIndex = 2
# 셀 
ws.range("A1").color = 1

Save

In [8]:
# wb.save('test.xlsx')